<h2><%= user.username %></h2>

<% if (session.user) {%>
  <p>
   <% if (session.user.isAdmin || session.user.id === user.id) {%>
     <a href="/users/<%= user.id %>/edit"><button class="btn btn-primary" type="button"> Edit </button></a>
   <% } %>
   <% if (session.user.isAdmin && session.user.id !== user.id) {%>
   <a href="/users/<%= user.id %>?_method=DELETE">
        <button class="btn btn-primary" type="button"
              onClick="return confirm('Delete acount: <%= user.username %>');">
          Delete 
        </button>
   </a>
   <% } %>
  </p>
<% } %>

<div class="list-group">
<%for (var t in albums) {%>
  <% if(!albums[t].isPrivate) { %>
    <a class="list-group-item" href='/users/<%=user.id%>/<%=albums[t].id%>'>
      <p><%=albums[t].name%>
      </p>
    </a>
  <%}%>
<%}%>
</div>
<a href="/users"> 
   <button class="btn btn-primary" type="button">Return</button>
</a>